# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script, a vanity service
#  or tool before PyInstaller cleans up afterward to clean up the tmp
#  directory.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.mypy_cache/
.poetry/
.venv/
poetry.lock
pipfile.lock

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might contain sensitive info
*.pem
*.key
